/*  Choose how you want your theme
 *  From the following settings to set your css
 *  the way that you want  */


/*  Define BASE COLORS  */
white =                 #FFFFFF;
black =                 #111111;
red =                   #E53935;
blue =                  #71A4F7;
light-blue =            #03A9F4;
green =                 #4CAF50;
light-green =           #9dcc8c;
yellow =                #FCCC45;
orange =                #FF9800;
purple =                #9C27B0;
deep-purple =           #8960A2;
teal =                  #28748A;
pink =                  #E91E63;
blue-grey =             #607D8B;
cyan =                  #6EC6C6;
indigo =                #3F51B5;
lime =                  #CDDC39;
amber =                 #f2b632;
deep-orange =           #ff5722;
brown =                 #795548;
grey =                  #9E9E9E;


/*  Typography  */


/*  Fonts  */
font-family =           "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;


/* Other Colors used mostly for code*/
off-white =             #95A2BB;
bright-white =          #adbcd7;
background-black =      #292C33;
bright-black =          #2D323A;



// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.

color-primary =        #f1f1f1;
color-primary-dark =   #f5f5f5;
color-accent =         blue;

/*  Buttons  */

/*  Badge  */

/*  Card  */

/*  Data Table  */

/*  Mega Footer  */

/*  Mini Footer  */

/*  Icon Toggle */

/*  Tabs  */

/* GRID */

grid-desktop-columns = 12 !default;
grid-desktop-gutter = 16px !default;
grid-desktop-margin = 16px !default;

grid-desktop-breakpoint = 840px !default;

grid-tablet-columns = 8 !default;
grid-tablet-gutter = grid-desktop-gutter !default;
grid-tablet-margin = grid-desktop-margin !default;

grid-tablet-breakpoint = 480px !default;

grid-phone-columns = 4 !default;
grid-phone-gutter = grid-desktop-gutter !default;
grid-phone-margin = grid-desktop-margin !default;

grid-cell-default-columns = grid-phone-columns !default;